@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
.slider-bar {
  -webkit-appearance: none;
  height: 9px;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #a5f3eb), color-stop(50%, #eaeefb));
  background: linear-gradient(90deg, #a5f3eb 50%, #eaeefb 50%);
  display: block;
  width: 85%;
  margin: 40px auto;
}

.slider-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(../images/icon-slider.svg);
  background-color: #10d5c2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  -webkit-box-shadow: 0 10px 15px 5px #a5f3eb;
          box-shadow: 0 10px 15px 5px #a5f3eb;
  cursor: -webkit-grab;
  cursor: grab;
  outline: none;
}

.slider-bar::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(../images/icon-slider.svg);
  background-color: #10d5c2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  box-shadow: 0 10px 15px 5px #a5f3eb;
  cursor: grab;
  border: none;
}

@media only screen and (min-width: 1440px) {
  .slider-bar {
    height: 11px;
    margin: 70px auto 40px;
  }
  .slider-bar::-webkit-slider-thumb {
    width: 50px;
    height: 50px;
    -webkit-box-shadow: 0 20px 25px 5px #a5f3eb;
            box-shadow: 0 20px 25px 5px #a5f3eb;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .slider-bar::-webkit-slider-thumb:hover {
    background-color: #4be7d7;
  }
  .slider-bar::-webkit-slider-thumb:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
    background-color: #039687;
  }
  .slider-bar::-moz-range-thumb {
    width: 50px;
    height: 50px;
    box-shadow: 0 20px 25px 5px #a5f3eb;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .slider-bar::-moz-range-thumb:hover {
    background: url(../images/icon-slider.svg) #4be7d7 55% center no-repeat;
  }
  .slider-bar::-moz-range-thumb:active {
    cursor: grabbing;
    background: url(../images/icon-slider.svg) #039687 55% center no-repeat;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
  margin: 30px 10px;
  vertical-align: 1px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch input:checked + .slider {
  background-color: #a5f3eb;
}

.switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #a5f3eb;
          box-shadow: 0 0 1px #a5f3eb;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cdd7ee;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider::before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round::before {
  border-radius: 50%;
}

@media only screen and (min-width: 1440px) {
  .switch {
    width: 54px;
    height: 26px;
    margin: 30px 20px;
  }
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(28px);
    transform: translateX(28px);
  }
  .switch .slider::before {
    height: 18px;
    width: 18px;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafbff;
}

body * {
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  color: #858fad;
}

img {
  position: absolute;
}

img.one {
  width: 100%;
  height: 325px;
}

img.two {
  top: 130px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header {
  text-align: center;
  top: 130px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
}

header h1 {
  font-size: 20px;
  color: #293356;
}

header p {
  width: 48%;
  margin: auto;
  padding-top: 10px;
  line-height: 22px;
}

div.wrapper {
  width: 87%;
  background-color: white;
  -webkit-box-shadow: 0px 5px 10px 0px #ddd;
          box-shadow: 0px 5px 10px 0px #ddd;
  border-radius: 10px;
  position: absolute;
  top: 240px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 670px;
}

div.wrapper section.one {
  border-bottom: 1px #eaeefb solid;
}

div.wrapper section.one p {
  text-align: center;
}

div.wrapper section.one p.views {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  padding-top: 35px;
}

div.wrapper section.one p.cost span {
  font-size: 30px;
  font-weight: 800;
  color: #293356;
  padding-right: 5px;
  vertical-align: -6px;
}

div.wrapper section.one div.billing {
  text-align: center;
  position: relative;
  padding-right: 10px;
}

div.wrapper section.one div.billing p {
  display: inline-block;
  font-size: 12px;
}

div.wrapper section.one div.billing p:nth-of-type(3) {
  font-size: 10px;
  color: #ff8c66;
  background: #ffece6;
  padding: 3px 7px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  margin-left: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

div.wrapper section.two {
  text-align: center;
}

div.wrapper section.two ul.pros {
  padding: 30px;
}

div.wrapper section.two ul.pros li {
  list-style: none;
}

div.wrapper section.two ul.pros li::before {
  content: url(../images/icon-check.svg);
  padding-right: 14px;
}

div.wrapper section.two ul.pros li:nth-of-type(2) {
  padding: 10px 0;
}

div.wrapper section.two button {
  background-color: #293356;
  color: #bdccff;
  border: none;
  padding: 12px 42px;
  border-radius: 20px;
  margin-bottom: 30px;
  font-weight: 800;
}

@media only screen and (max-width: 375px) {
  div.wrapper section.one div.billing p:nth-of-type(3) {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  body * {
    font-size: 15px;
  }
  img.one {
    height: 562px;
  }
  img.two {
    top: 170px;
    height: 170px;
  }
  header {
    top: 170px;
  }
  header h1 {
    font-size: 35px;
  }
  header p {
    width: 100%;
    font-size: 19px;
    padding-top: 14px;
  }
  div.wrapper {
    -webkit-box-shadow: 0px 15px 30px 5px #ddd;
            box-shadow: 0px 15px 30px 5px #ddd;
    top: 330px;
  }
  div.wrapper section.one p.views {
    padding: 75px 0 0 7.5%;
    text-align: left;
    font-size: 18px;
    letter-spacing: 2px;
  }
  div.wrapper section.one p.views span {
    font-size: 18px;
  }
  div.wrapper section.one p.cost {
    position: absolute;
    right: 7.5%;
    top: 50px;
    font-size: 18px;
  }
  div.wrapper section.one p.cost span {
    font-size: 50px;
    vertical-align: -11px;
  }
  div.wrapper section.one div.billing {
    margin-bottom: 20px;
  }
  div.wrapper section.one div.billing p {
    font-size: 15px;
  }
  div.wrapper section.one div.billing p:nth-of-type(3) {
    font-size: 12px;
  }
  div.wrapper section.two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div.wrapper section.two ul.pros {
    width: 47%;
    text-align: left;
    padding: 40px;
  }
  div.wrapper section.two ul.pros li {
    margin-left: 20px;
  }
  div.wrapper section.two button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0;
    padding: 15px 55px;
    border-radius: 25px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  div.wrapper section.two button:hover {
    color: white;
    cursor: pointer;
  }
}
/*# sourceMappingURL=style.css.map */