@import '_variables'

.slider-bar
    -webkit-appearance: none
    height: 9px
    border-radius: 5px
    background: $colorEmptySliderBar
    display: block
    width: 85%
    margin: 40px auto
    &::-webkit-slider-thumb
        -webkit-appearance: none
        appearance: none
        width: 40px
        height: 40px
        border-radius: 50%
        background: url(../images/icon-slider.svg) $colorSliderBackground 55% center no-repeat
        box-shadow: 0 10px 15px 5px $colorFullSliderBar
        cursor: grab
        outline: none
    &::-moz-range-thumb
        width: 40px
        height: 40px
        border-radius: 50%
        background: url(../images/icon-slider.svg) $colorSliderBackground 55% center no-repeat
        cursor: grab
        outline: none

@media only screen and (min-width: 1440px)
    .slider-bar
        height: 11px
        margin: 70px auto 40px
        &::-webkit-slider-thumb
            width: 50px
            height: 50px
            box-shadow: 0 20px 25px 5px $colorFullSliderBar
        &::-moz-range-thumb
            width: 50px
            height: 50px
            box-shadow: 0 20px 25px 5px $colorFullSliderBar
